.pipelineListDiv {
    margin: 50px 10px 10px 100px;
    width: 1000px;
    height: 650px;
    background-color: white;
    padding: 5px 5px 30px 10px;
    overflow: scroll;
 }


.pipelineItem {
    width: 90%;
    height: 250px;
    border: 1px solid black;
    padding: 0px 0px 5px 0px;
    margin: 5px 5px 20px 5px;
    text-align: center;
}

.pipelineItemHeader {
    background-color: #880F1B;
    color: white;
    padding-top: 5px;
}

.pipelineItemProduct {
    float: left;
    margin: 20px;
}

.button {
    float: right;
    margin: 0px 10px 0px 0px;
}

#pipelineList {
    padding: 20px 0px 0px 65px;
}
