.productListDiv {
    margin: 30px 10px 10px 100px;
    width: 1000px;
    height: 650px;
    background-color: white;
    padding: 5px 5px 30px 10px;
    opacity: .90;
    overflow: scroll;
 }


.productItemDiv {
    width: 300px;
    height: 350px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    float: left;
}

.productPanel {
    width: 600px;
    margin: 20px 10px 10px 200px;
}

.panelTitle {
    color: white;
}

.smallProductImg {
    width: 250px;
    height: 214px;
}

.button {
    float: right;
}

.column {
    float: left;
    width: 50%
}