.performanceDiv {
    margin: 50px 10px 10px 120px;
    width: 900px;
    height: 650px;
    background-color: white;
    padding: 5px 5px 30px 10px;
    overflow: scroll;
 }

 .performanceItem {
     text-align: left
 }