body {
    font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(105, 105, 105);
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #00acb0;
    padding: 5px;
    color: #ece7e7;
}

.mainDiv {
  padding-left: 200px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #880F1B;
  position: fixed;
  height: 100%;
  width: 200px;
  border-radius: 0px;
  z-index: 1;
  top: 0;
  left: 0;
}

.navImage {
  width: 180px;
  height: 128.5px;
  padding: 5px 0px 0px 13px;
  margin: 5px;
}

.navButton {
  width: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* li {
    float: left;
} */

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 14px 10px;
    text-decoration: none;
    font-size: 20px;
    
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #eee;
}

/* payment form css start */
.no-boot{
    margin: 10px 10%;
  }
  
  
  .no-boot label{
    display: block;
  }
  
  /* input styles */
  .no-boot input,
  .no-boot select{
    width: 100%;
    height: 24px;
    margin-bottom: 10px;
    padding: 4px 10px;
    font-family: helvetica;
    font-size: 14px;
  }
  
  .no-boot input{
    border: none;
    border-bottom: 1px solid #b6b6b6;
    width: 100%;
  }
  
  .no-boot input:focus{
    outline: 0;
    border-bottom: 1px solid #66afe9;
    box-shadow: 0 3px 0 #66afe9;
  }
  
  /*  submit button styles */
  .no-boot input[type=submit]{
    background-color: #62DF49;
    color: #fff;
    height: 44px;
    width: 100%;
    cursor: pointer;
  }
  
  .no-boot input[type=submit]:hover{
    background-color: #56FBD2;
  }
  
  .no-boot input[type=submit]:focus{
    outline: 0;
    border-bottom: 0;
    box-shadow: none;
  }
  
  /* disable submit button so no other actions can take place while form goes through */
  .no-boot input[type=submit][disabled]{
    cursor: not-allowed;
    background-color: #8CE67A;
  }
  
  /*  Square Fields */
  .sq-input{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #b6b6b6;
    width: 100%;
  }
  
  /*  [iFrame class]--focus is added when the square form is focused
  use similar to other form focus style for consistency */
  .sq-input--focus{
    outline: 0;
    border-bottom: 1px solid #66afe9;
    box-shadow: 0 3px 0 #66afe9;
  }
  
  /* [iFrame class]--error is added when the iFrame local check fails
  use similar styling on other forms to ensure consistent error styles */
  .sq-input--error{
    background-color: #F3C0C0;
  }
  
  /* error messages */
  .no-boot #card-errors li{
    list-style-type: none;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #E27272;
    color: white;
  }
  
  /* Success */
  #successNotification{
    margin: 0;
    text-align: center;
    background-image: linear-gradient(-5deg, #72E07B 0%, #56FBD2 100%);
    border-radius: 4px;
    padding: 10% 10%;
    color: white;
    font-size: 20px;
  }
  
  /* Customize the "{{Wallet}} not enabled" message */
  .wallet-not-enabled {
    min-width: 200px;
    min-height: 40px;
    max-height: 64px;
    padding: 0;
    margin: 10px;
    line-height: 40px;
    background: #eee;
    border-radius: 5px;
    font-weight: lighter;
    font-style: italic;
    font-family: inherit;
    display: block;
  }
  
  /* Customize the Apple Pay on the Web button */
  .button-apple-pay {
    min-width: 200px;
    min-height: 40px;
    max-height: 64px;
    padding: 0;
    margin: 10px;
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-color: black;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor:pointer;
    display: none;
  }
  
  /* Customize the Masterpass button */
  .button-masterpass {
    min-width: 200px;
    min-height: 40px;
    max-height: 40px;
    padding: 0;
    margin: 10px;
    background-image: url(https://static.masterpass.com/dyn/img/btn/global/mp_chk_btn_147x034px.svg);
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    cursor:pointer;
    display: none;
  }
  
  #sq-walletbox {
    float:left;
    margin:5px;
    padding:10px;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
  }

  .thankYouHeader{
    min-height: 100px;
    background-color: #880F1B;

  }
  /* .upcomming{
    background-color:#ffebcc;
    
  } */
  /* .imgBackgroud{
    background-image: url(../components/BaseStructure/Customer/ThankYou/appleStrudelBoard.jpg);
    background-size: 70%;
    
  } */
  
  