.orgListDiv {
    margin: 50px 10px 10px 100px;
    width: 1000px;
    height: 650px;
    background-color: white;
    padding: 5px 5px 30px 10px;
    overflow: scroll;
 }

.orgItemDiv {
    width: 90%;
    height: 300px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}


.orgPanel {
    width: 600px;
    margin: 30px 10px 10px 200px;
}

.panelTitle {
    color: white;
}

h2 {
    text-align: center;
    padding-left: 100px;
    margin: 30px 0px 20px 0px;
}

.button {
    float: right;
}

.column {
    float: left;
    width: 50%
}