.orgListDiv {
    margin: 50px 10px 10px 120px;
    width: 900px;
    height: 650px;
    background-color: white;
    padding: 5px 5px 30px 10px;
    border-radius: 1%;
    opacity: .90;
    overflow: scroll;
 }

.orgItemDiv {
    width: 90%;
    height: 300px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}


.orgPanel {
    width: 600px;
    margin: 20px 10px 10px 125px;
    text-align: center
    /* padding: 10px 10px 10px 10px; */
}

.panelTitle {
    color: white;
}

h2 {
    text-align: center
}