.orgItemDiv {
    width: 90%;
    height: 300px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.orgPanel {
    width: 350px;
    margin: 20px;
}

.panelTitle {
    color: beige;
}

#orgListDiv {
   margin: 100px; 
}
