#portalDiv {
    background-image: url('./images/strudelBG.jpg');
    width: 100%;
    height: 100%;
    padding: 60px;
    overflow: scroll;
 }

 #portalContainer {
     width: 100%;
     border: .5px solid black;
     padding: 20px;
     background-color: white;
     opacity: .95;
 }

 .welcome {
     padding: 20px;
 }

 #titleDiv {
     height: 200px;
     padding: 10px
 }

 #strudelListDiv {
     background-color: rgb(48, 73, 128)
 }

 #shoppingCartDiv {
    text-align: center
 }

 #customerFormDiv {
     margin: 10px 0px 0px 0px;
 }

 #portalLogo1 {
     float: left;
     width: 180px;
     height: 128.5px;
 }

 #portalLogo2 {
     width: 150px;
     heigh: 150px;
 }